body{
    color: black;
    font-size: 18px;
}
.header__list{
    font-size: 22px;
    list-style: none;
    display: flex;
    gap: 15px;
  

    
}

.header__list li{
    padding: 10px;
    border: 1px solid black;
    background-color: rgb(189, 200, 200);
    border-radius: 4px;
    cursor: pointer;
}
.hero__title{
    color: red;
    text-align: center;
    font-size: 32px;
}

.hero__title span{
    color: black;
    font-size: 35px;
}

.title{
    color: blue;
    text-align: center;
}
.about__list{
    color: blueviolet;
}
.about a{
    color: red;
    font-size: 32px;
}
a{
    text-decoration: none;
}

.how__work .title{
    color: brown;
}
.header__list{
    color: inherit;
}

.li-color ~ li{
    color: teal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.li-style + li{
    color: blueviolet;
    text-decoration: dotted;
    font-style: italic;
}
